<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.management.mapper.BizMapper">
    <select id="selectPage" resultType="com.qk.vo.BizVO">
        select t1.id, t1.name, t1.phone, t1.gender, t1.age, t1.wechat, t1.qq, t1.subject,
               t1.course_id, t1.degree, t1.job_status, t1.channel, t1.remark, t1.status,
               t1.user_id, t1.clue_id, t1.next_time, t1.create_time, t1.update_time,
               t2.name as assign_name
        from business t1
            left join user t2
                on t1.user_id = t2.id
        <where>
            <if test="bizQueryDTO.businessId != null">
                and t1.id = #{bizQueryDTO.businessId}
            </if>
            <if test="bizQueryDTO.name != null and bizQueryDTO.name != ''">
                and t1.name like concat('%', #{bizQueryDTO.name}, '%')
            </if>
            <if test="bizQueryDTO.phone != null and bizQueryDTO.phone != ''">
                and t1.phone like concat('%', #{bizQueryDTO.phone}, '%')
            </if>
            <if test="bizQueryDTO.assignName != null and bizQueryDTO.assignName != ''">
                and t2.name like concat('%', #{bizQueryDTO.assignName}, '%')
            </if>
            <if test="bizQueryDTO.status != null">
                and t1.status = #{bizQueryDTO.status}
            </if>
            and t1.status in (1, 2, 3)
        </where>
        order by t1.update_time desc

    </select>
    <select id="selectPoolPage" resultType="com.qk.vo.business.BizPoolVO">
        select t1.id, t1.name, t1.phone, t1.gender, t1.age, t1.wechat, t1.qq, t1.subject,
        t1.course_id, t1.degree, t1.job_status, t1.channel, t1.remark, t1.status,
        t1.user_id, t1.clue_id, t1.next_time, t1.create_time, t1.update_time
        from business t1
        <where>
            <if test="dto.businessId != null">
                and t1.id = #{dto.businessId}
            </if>
            <if test="dto.name != null and dto.name != ''">
                and t1.name like concat('%', #{dto.name}, '%')
            </if>
            <if test="dto.phone != null and dto.phone != ''">
                and t1.phone like concat('%', #{dto.phone}, '%')
            </if>
            <if test="dto.subject != null">
                and t2.subject = #{dto.subject}
            </if>
        </where>
        order by t1.update_time desc
    </select>
</mapper>