<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.management.mapper.OperateLogMapper">
    <select id="page" resultType="com.qk.vo.log.OperateLogVO">
        select t1.id,
               t1.operate_user_id,
               t1.operate_time,
               t1.class_name,
               t1.method_name,
               t1.method_params,
               t1.return_value,
               t1.cost_time,
               t2.name operate_user_name
        from operate_log t1
            left join user t2
                on t1.operate_user_id = t2.id
        <where>
            <if test="operateUserName != null and operateUserName != ''">
                and t2.name like concat('%',#{operateUserName},'%')
            </if>
        </where>
    </select>
</mapper>