<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.management.mapper.RoleMapper">
    <insert id="insert">
        insert into role(name, label, create_time, update_time)
        values (#{name}, #{label}, #{createTime}, #{updateTime})
    </insert>
    <update id="updateById">
        update role
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="label != null and label != ''">
                label = #{label},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="count" resultType="java.lang.Long">
        select count(*) from role
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="label != null and label != ''">
                and label = #{label}
            </if>
        </where>
    </select>
    <select id="select" resultType="com.qk.entity.Role">
        select * from role
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="label != null and label != ''">
                and label = #{label}
            </if>
        </where>
        order by update_time
        limit #{offset}, #{pageSize}
    </select>
</mapper>