<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.management.mapper.RoleMapper">
    <insert id="insert">
        insert into role(name, label, create_time, update_time)
        values (#{name}, #{label}, #{createTime}, #{updateTime})
    </insert>
    <select id="count" resultType="java.lang.Integer">
        select count(*) from role
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="label != null and label != ''">
                and label = #{label}
            </if>
        </where>
    </select>
    <select id="select" resultType="com.qk.entity.Role">
        select * from role
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="label != null and label != ''">
                and label = #{label}
            </if>
        </where>
        order by update_time
        limit #{offset}, #{pageSize}
    </select>
</mapper>